<p>Browse Page</p>
<div name="body">
  <ul name="iList">
    
    {{#each ingredients}}
      <li>
        <div class="result">
          <a href="http://localhost:3000/ingredient?ID={{{ID}}}">{{Name}}</a>
          <p>{{Issues}}</p>
      </li>
    {{/each}}
  </ul>
</div>
