<div class="container-fluid px-0">
  <div class="row">
    <div class="col-md-12">
      <img class="homeimg" src="/home.jpg">
    </div>
  </div>
</div>
<div class="jumbotron">
  <h1 class="display-4">Ethical Eating</h1>
  <p class="lead">Welcome to Ethical Eating, a web app to help you maintain a more mindful diet.</p>
  <p>Find out more about your favorite foods so that you can enjoy your favorite cuisine as socially and envieronmentally sustainably as possible. Get started by searching for a recipe or ingredient above or browse the database!</p>
  <p>Each meal provides an overall ethic rating based on its ingredients on a 1-100 scale. Check out the overall rating for meals or narrow in on specific ingrediednts and see what ethical issues are associated with them.</p>

