<form style="border:1px solid">
  <div class="container">
    <h1>Welcome to EthicalEating! </h1>
    <p>Please create an account to save meals.</p>
    <p>Username and Password must be at least 8 characters.</p>
    <hr>

    <label for="new-usr"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" id="new-usr" name="usr" value="" required>

    <label for="new-pwd"><b>Password</b></label>
    <input type="text" placeholder="Enter Password" id="new-pwd" name="pwd" value="" required>

    <label for="new-pwd-verify"><b>Verify Password</b></label>
    <input type="text" placeholder="Repeat Password" id="new-pwd-verify" name="pwd-repeat" value="" required>

    <div class="submit">
      <button type="button" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>

<script src = "user.js"></script>
