/*author: Christine Pham*/

body{
  font-family: 'Open Sans', sans-serif;
  background: #e4e3e6; 
  box-sizing: border-box;
  margin: 0 auto 0 auto;
  width:100%;
  margin: 0px 0px 20px 0px;
}

#build-form{
  background: #fffdf8;
  max-width:800px;
  min-height: 300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  margin-top: 30px;
  padding:0px 0px 70px 0px;
  border: #4d3942 4px solid;
  box-shadow: 10px 10px 5px grey;
}

h4 {
  font-weight: bold;
}

/* Nav Bar Set up */
.navbar{
  font-size: 20px;
  line-height: 22px;
}

.navlist{
  margin: 0;
/*    padding: 10px 30px;*/

}

.navitem{
  display: inline-block;
  line-height:20px;
}

.navbar-toggler{
border:black;
background-color:var(--color-white);
opacity:0.8;
}

.navbar-light .navbar-brand {
color:var(--color-white);
}

.navbar .navbar-brand:hover{
text-decoration:none;
color:var(--color-white);
}

.navlink a{
  padding: 8px 10px;
  display: inline-block;
  color: var(--color-white);

}

.navlink a:hover{
  text-decoration: none;
}

/*toggle button*/
.custom-switch .custom-control-label {
  padding-left: 3rem;
  margin-left: 20px;
  font-size: x-large;
}

.custom-switch .custom-control-label::before {
  height: 2rem;
  width: calc(3rem + 0.75rem);
  border-radius: 4rem;
}

.custom-switch .custom-control-label::after {
  width: calc(2rem - 4px);
  height: calc(2rem - 4px);
  border-radius: calc(3rem - (2rem / 2));
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(calc(2rem - 0.25rem));
}

/*input boxes*/
.ingredient-input, #recipeTitle{
  width: 300px;
}

#recipeTitle, input[list] {
  box-shadow: 8px 8px 3px grey;
  border-radius: 6px;
  height: 50px;
  width: 700px;
  font-size: larger;
}

.inputs{
  text-align: center;
}

#label-ingred{
  padding-bottom: 0;
}

label {
  font-weight: bold;
}
#ingredient-box{
  display: table;
  margin-left: auto;
  margin-right: auto;
}
#check-ingredients, #save-buttons {
  display: inline-flex;
}

#verify {
  display:inline-block;
}

#verify, #reset{
  background:#b7cea8;
  width:200px;
  padding-top:5px;
  padding-bottom:5px;
  height: 40px;
  color:black;
  border-radius:14px;
  border: #4d3942 2px solid; 
  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.9em;
  box-shadow: 10px 10px 5px grey;
}

#verify:hover, #reset:hover{
  background: #63b7af;
}

#reset {
  margin-left: 100px;
}

#verify-login{
  float:left;
  background:#6b8c8e;
  width:190px;  
  padding-top:5px;
  padding-bottom:5px;
  height: 40px;
  color:white;
  border-radius:4px;
  border: #6b8c8e 1px solid;
  margin-top:5px;
  margin-bottom:20px;
  margin-left: 20px;
  font-weight:800;
  font-size:1em;
  box-shadow: 10px 10px 5px grey;
}

#verify-login:hover{
background:#4d3942;
}

#saved {
  float:left;
  background: white;
  width:190px;  
  padding-top:5px;
  padding-bottom:5px;
  height: 40px;
  color: darkolivegreen;
  border-radius:4px;
  border: white 1px solid;
  box-shadow: 10px 10px 5px white;
  margin-top:5px;
  margin-bottom:20px;
  margin-left:10px;
  font-weight:800;
  font-size:1.2em;
  cursor: default;
}

/* delete button */
.delete, .deleteEdit {
  background-color: #c0c7c8;
  border-radius: 8px;
  border: #4d3942 2px solid; 
  display: inline;
  width: 42px;
  color: #555555;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 14px;
  text-decoration: none;
  outline: none;
  box-shadow: 5px 5px 2px grey;
}

.delete:hover, .deleteEdit:hover {
  background-color: #414a4c;
  cursor: pointer;
  color: white;
}

/* add ingredient button */
#button-add {
  position: relative;
  left: 330px;
  background-color: #B7cea8;
  border-radius: 18px;
  border: #4d3942 2px solid; 
  display: inline;
  width: 45px;
  color: #555555;
  font-family: Arial;
  font-size: 22px;
  font-weight: bold;
  padding: 2px 14px;
  margin-top: 10px;
  text-decoration: none;
  outline: none;
  box-shadow: 10px 10px 5px grey;
}

#button-add:hover {
  background-color: #63b7af;
  cursor: pointer;
}

#button-add:active {
  position: relative;
  top: 1px;
}
