.recipeButton{
    background-color: #B7CEA8;
    border: none;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.3s;
    border-radius: 5px;
    font-size: 16px;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

.recipeButton:hover{
    background-color: #6B8C8E;
    color: white;
}

.recipeList{
    list-style-type: none;
    background-color: #fffdf8;
    padding: 20px;
    margin-left: 10%;
    float: left;
    width: 15%;
    margin-top: 3%;
    text-align: center;
    font-size: 30px;
    height: 600px;
    border: #4d3942 4px solid;
    box-shadow: 10px 10px 5px grey;
}

.recipeInfo{
    float: left;
    width: 60%;
    background-color: #FFFDF8;
    padding: 20px;
    margin-top: 3%;
    height: 600px;
    border: #4d3942 4px solid;
    box-shadow: 10px 10px 5px grey;
}

.tableHeaderRow{
    background-color: #4D3942;
    font-size: 20px;
    color: white;
}

.ingredientTable tr:nth-of-type(even){
    background-color: #E4E3E6;
}

.recipeDescription{
    background-color: #E4E3E6;
    margin: 2%;
    margin-bottom: 20px;
}

.recipeTitle{
    padding-left: 2%;
    margin-top: 0px;
}

.ratingContainer{
    float:right;
    padding-right: 2%;
}

/* .nonRecipeButton{
    background-color: #6B8C8E;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.3s;
    border-radius: 10px;   
    margin-top: 20px;
}
*/

.nonRecipeButton:hover{
    background-color: #E4E3E6;
}