/*
** File for styling the website
** Authors
 */

/* General Setup */

header{
    background-color: rgba(189, 180, 180, 0.76);
    color: black;

}

body{
    background-color: white;
    color: black;
    margin: 0;
    font-size: large;

}

a{
    text-decoration: none;
    color: #d73f09;

}

a:hover{
    text-decoration: underline;

}

h3{
    color: #fcf6f6;

}

/* Nav Bar Set up */
.navbar{
    font-size: 20px;
    line-height: 22px;
}

.navlist{
    margin: 0;
    padding: 10px 30px;

}

.navitem{
    display: inline-block;

}

.navlink a{
    padding: 8px 10px;
    display: inline-block;
    color: white;

}

.navlink a:hover{
    text-decoration: none;
}

/* browse and search page styling*/
h3.filterTitle{
  color: #212529;
}

div.body{
    padding: 1vw 5vw;
}

hr.gen {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #d73f09);
}

.fList{
    list-style-type: none;
    padding-left: 2vmin;
}

.filterList{
    list-style-type: none;
}
.issues{
    padding: 0px 5px;
}

.rating{
    padding-left: 2vmin;
}

/*For meal view page*/
.mealInfo{
    padding-left: 5vmin;
}

tbody.ingredientTable tr.ingredientTable:nth-child(odd){
    background-color: rgba(189, 180, 180, 0.76);
    border: 1px solid #ccc;
}

table.ingredientTable{
    margin-top:20px;
    border: 1px solid #777;
    border-collapse:collapse;
    background-color: #fff;
}

tr.ingredientTable{
  border: 1px solid #1111;
  height:48px;
}

th.ingName{
    text-align:left;
    padding-left: 30px;
}

th.ingRating{
    text-align:right;
    padding-right: 30px;
}

td.ingName{
    text-align:left;
    padding-left: 30px;
}

td.ingRating{
    text-align:right;
    padding-right: 30px;
}
a.tblLink{
    text-decoration: none;
    color: #d73f09;
}

.mealName{
  position:relative;
  top:50%;
  transform: translatey(-50%);
  margin:auto;
  display: inline-block;
  width:100%;
  text-align:center;
  vertical-align:middle;
}

.mealRating{
  position:relative;
  top:50%;
  transform: translatey(-50%);
  margin:0;
  width:100%;
  text-align:center;
  vertical-align:top;
}

.mcard{
  text-align:justify;
  display:inline-block;
  background-color: #ffffff;
  vertical-align:middle;
  border: 1px solid #ccc;
}

.mcard.L{
  margin-right:1vw;
}

.mealBody{
    padding: 1vw 5vw;
    background-color: #dddddd;
}

@media all and (max-width: 799px){
 .mealName{
    font-size: 8vw;
  }

  .mealRating{
    font-size: 6vw;
  }

  .mcard{
    width: 40vw;
    height: 40vw;
  }

  table.ingredientTable{
    width:82vw;
  }

  .mealInstructions{
    width:82vw;
  }
}

@media all and (min-width: 800px){
  .mealName{
    font-size: 64px;
  }

  .mealInstructions{
    width:650px;
  }

  .mealRating{
    font-size: 48px;
  }
  .mcard{
    display: inline-block;
    width: 320px;
    height: 320px;
  }

  table.ingredientTable{
    width:650px;
  }
}



/* Ingredients page */
.header {
  text-align: center;
  font-size: 1.75em
}

.subheader {
  text-align: center;
  font-size: 1.25em
}

.subsitutes-container {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.subsitutes-button {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.subsitutes-button:hover {
  background-color: #C0C0C0;
}

/* home page */
.homeimg{
  width: 100vw;
  height: 20vw;
  object-fit: cover;
  object-position: 50% 40%;
}
